body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9381FF;
  }

  .container {
    display: flex;
    flex-direction: column;
    border: 5px solid #FFD8BE;
    padding: 15px;
    border-radius: 25px;
  }

/* CAROUSEL CSS */
.carousel {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    max-width: 95vw;
    border: 1px solid transparent;
    border-radius: 15px;
}

.slides {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.slides::-webkit-scrollbar {
    display: none;
  }

.slides-item {
    flex-shrink: 0;
    padding : 35px 0;
    font-size: 100px;
    justify-content: center;
    position: relative;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100%;
    background-color: #B8B8FF;
  }

.carousel__nav {
    padding: 1.25rem .5rem;
    margin: 0 auto;
}
  
.slider-nav {
    align-items: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: .5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
  }
  
  .slider-nav:hover,
  .slider-nav:active {
    background-color: #000;
    color: #fff;
  }

/* FIGMA LOGO */
.figma-logo {
    margin: 0 auto;
	width: 200px;
    display: flex;
    flex-wrap:wrap;
}

.element {
	width: 100px;
	height: 100px;
	background: red;
}

.left {
	border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.right {
	border-top-right-radius:50px;
    border-bottom-right-radius:50px;
}

.circle {
	border-radius:50px;
}

.clip {
	border-bottom-right-radius:50px;
}

.orange {
	background: #FB7266;
}

.purple {
	background: #A061FA;
}

.blue {
	background: #2EBDFA;
}

.green {
	background: #00CE84;
}

